In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('dados_hdi.xlsx')
df.head()

,Index,Country,Ranking_HDI_2019,Human Development Index (HDI) Value (2019),"Life expectancy at birth (years, 2019)","Expected years of schooling (years, 2019)","Mean years of schooling (years, 2019)",Gross national income (GNI) per capita 2019 (2017 PPP $),Gender Development Index - Value (2019),Gender Inequality Index Value (2019),...,"Rural population with access to electricity (%, 2018)","Women with account at financial institution or with mobile money-service provider (% of female population ages 15 and older, 2017)","Carbon dioxide emissions: Production emissions per capita (tonnes, 2018)",Carbon dioxide emissions: Per unit of GDP (kg per 2010 US$ of GDP),"Forest area (% of total land area, 2016)",Forest area - Change 1990/2016 (%),Domestic material consumption per capita (tonnes. 2017),"Red List Index (value, 2019)","Skilled labour force (% of labour force, 2010-2019)","Research and development expenditure (% of GDP, 2014-2018)"
0,1,Norway,1,0.957,82.40,18.06615,12.897750,66494.25217,0.989939,0.045,...,100.0,100,8.303974,0.10907,33.1779,-0.115284,21.822,0.93923,84.2811,2.06985
1,2,Ireland,2,0.955,82.31,18.70529,12.666331,68370.58737,0.981024,0.093,...,100.0,95.307,8.079187,0.11213,11.0277,63.3763,13.4753,0.91522,85.047,1.14647
2,3,Switzerland,2,0.955,83.78,16.32844,13.380812,69393.52076,0.967513,0.025,...,100.0,98.8567,4.325016,0.07975,31.8301,9.31484,13.7187,0.97459,87.3141,3.37286
3,4,"Hong Kong, China (SAR)",4,0.949,84.86,16.92947,12.279960,62984.76553,0.972323,..,...,100.0,94.7024,5.852683,0.10847,..,..,..,0.83060,76.98,0.86096
4,5,Iceland,4,0.949,82.99,19.08309,12.772787,54682.38057,0.968674,0.058,...,100.0,..,10.782476,0.13471,0.50374,213.665,14.8811,0.86310,76.1659,2.02994

In [3]:
#puting the Country name as index
df.set_index('Country',inplace=True)
#making all columns data numeric
cols = df.columns.drop(['Index'])
df[cols] = df[cols].apply(pd.to_numeric, errors = 'coerce')
#dropping the extra columns
df = df.drop(['Index','Gender Inequality Index Value (2019).1'], axis=1)

In [4]:
#renaming the columns to abreviations of the name
df = df.rename(columns={'Ranking_HDI_2019':'RHDI'})
df = df.rename(columns={'Human Development Index (HDI) Value (2019)':'HDI'})
df = df.rename(columns={'Life expectancy at birth (years, 2019)':'LE'})
df = df.rename(columns={'Expected years of schooling (years, 2019)':'EYS'})
df = df.rename(columns={'Mean years of schooling (years, 2019)':'MYS'})
df = df.rename(columns={'Gross national income (GNI) per capita 2019 (2017 PPP $)':'GNI'})
df = df.rename(columns={'Gender Development Index - Value (2019)':'GDIV'})
df = df.rename(columns={'Gender Inequality Index Value (2019)':'GIIV'})
df = df.rename(columns={'Inequality-adjusted HDI (IHDI) Value 2019':'IHDI'})
df = df.rename(columns={'Inequality in life expectancy (%, 2015-2020)':'ILE'})
df = df.rename(columns={'Inequality in education (%, 2019)':'IE'})
df = df.rename(columns={'Inequality in income (%, 2019)':'II'})
df = df.rename(columns={'Share of seats in parliament (% held by women, 2019)':'SSP'})
df = df.rename(columns={'Median age (years, 2020)':'MA'})
df = df.rename(columns={'Total Population (millions, 2019)':'TP'})
df = df.rename(columns={'Total Urban Population (%, 2019)':'TUP'})
df = df.rename(columns={'Current health expenditure (% of GDP)':'CHE'})
df = df.rename(columns={'Government expenditure on education  (% of GDP, 2013-2018)':'GEE'})
df = df.rename(columns={'Physicians per 10000 people (2010-2018)':'PPP'})
df = df.rename(columns={'Hospital beds (per 10,000 people, 2010-2019)':'HB'})
df = df.rename(columns={'Vulnerable employment (% of total employment, 2019)\n':'VE'})
df = df.rename(columns={'Rural population with access to electricity (%, 2018)':'RPAE'})
df = df.rename(columns={'Women with account at financial institution or with mobile money-service provider (% of female population ages 15 and older, 2017)':'WAFI'})
df = df.rename(columns={'Carbon dioxide emissions: Production emissions per capita (tonnes, 2018)':'CDEP'})
df = df.rename(columns={'Carbon dioxide emissions: Per unit of GDP (kg per 2010 US$ of GDP)':'CDE'})
df = df.rename(columns={'Forest area (% of total land area, 2016)':'FA'})
df = df.rename(columns={'Forest area - Change 1990/2016 (%)':'FAC'})
df = df.rename(columns={'Domestic material consumption per capita (tonnes. 2017)':'DMC'})
df = df.rename(columns={'Red List Index (value, 2019)':'RLI'})   
df = df.rename(columns={'Skilled labour force (% of labour force, 2010-2019)':'SLF'})
df = df.rename(columns={'Research and development expenditure (% of GDP, 2014-2018)':'RDE'})

In [5]:
#creating dict with meaning of the columns name
cols_name = {'RHDI':'Ranking Human Development Index, 2019',
            'HDI':'Human Development Index Value, 2019', 
            'LE':'Life expectancy at birth, years, 2019',
            'EYS':'Expected years of schooling, years, 2019',
            'MYS':'Mean years of schooling, years, 2019',
            'GNI':'Gross national income per capita 2019 (2017 PPP $)', 
            'GDIV':'Gender Development Index Value, 2019',
            'GIIV':'Gender Inequality Index Value, 2019',
            'IHDI':'Gender Inequality Index Value, 2019',
            'ILE':'Inequality in life expectancy, %, 2015-2020',
            'IE':'Inequality in education, %, 2019',
            'II':'Inequality in income, %, 2019',
            'SSP':'Share of seats in parliament, % held by women, 2019',
            'TP':'Total population, millions, 2019',
            'TUP':'Total urban population, %, 2019', 
            'MA':'Median age, years, 2020',
            'CHE':'Current health expenditure, % of GDP',
            'GEE':'Government expenditure on education, % of GDP, 2013-2018',
            'PPP':'Physicians per 10000 people, 2010-2018',
            'HB':'Hospital beds per 10000 people, 2010-2019',
            'VE':'Vulnerable employment, % of total employment, 2019',
            'RPE':'Rural population with access to electricity, %, 2018',
            'WAFI':'Women with account at financial institution or with mobile money-service provider, % of female population ages 15 and older, 2017',
            'CDEP':'Carbon dioxide emissions production per capita, tonnes, 2018',
            'CDE':'Carbon dioxide emissions per unit of GDP, kg per 2010 US$ of GDP',
            'FA':'Forest area, % of total land area, 2016',
            'FAC':'Forest area change, %, 1990/2016',
            'DMC':'Domestic material consumption per capita, tonnes, 2017',
            'RLI':'Red List Index Value, 2019',
            'SLF':'Skilled labour force, % of labour force, 2010-2019',
            'RDE':'Research and development expenditure, % of GDP, 2014-2018'
            }

In [6]:
df.columns

Index(['RHDI', 'HDI', 'LE', 'EYS', 'MYS', 'GNI', 'GDIV', 'GIIV', 'IHDI', 'ILE',
       'IE', 'II', 'SSP', 'TP', 'TUP', 'MA', 'CHE', 'GEE', 'PPP', 'HB', 'VE',
       'RPAE', 'WAFI', 'CDEP', 'CDE', 'FA', 'FAC', 'DMC', 'RLI', 'SLF', 'RDE'],
      dtype='object')

In [7]:
### Importing Continent data ###
continent = pd.read_excel('continent.xlsx')
continent.set_index('Country',inplace=True)
continent.head()

                               Continent
Country
Algeria                           Africa
Angola                            Africa
Benin                             Africa
Botswana                          Africa
British Indian Ocean Territory    Africa

In [8]:
### Joining dataframes and Dealing with missing Continent Values! ###
df = df.join(continent, on='Country', how='left', lsuffix='Country', rsuffix='Country')
### Finding The Countrys without Continent data ### 
empty_cont = df[df['Continent'].isnull()]
empty_cont.index

Index(['Hong Kong, China (SAR)', 'United Kingdom', 'United States',
       'Korea (Republic of)', 'Moldova (Republic of)', 'Palestine, State of',
       'Eswatini (Kingdom of)', 'Côte d'Ivoire',
       'Tanzania (United Republic of)', 'Congo (Democratic Republic of the)'],
      dtype='object', name='Country')

In [9]:
### Filling empty Continents using a dict ###
cont_dict = {'Hong Kong, China (SAR)': 'Asia','United Kingdom' : 'Europe','United States':'North America',
             'Korea (Republic of)':'Asia','Moldova (Republic of)':'Europe','Palestine, State of':'Asia',
             'Eswatini (Kingdom of)':'Africa', "Côte d'Ivoire":'Africa',
             'Tanzania (United Republic of)':'Africa','Congo (Democratic Republic of the)':'Africa'}

cont_dict = pd.DataFrame(list(cont_dict.items()),columns = ['Country','Continent'])
cont_dict.set_index('Country',inplace=True)

df[df['Continent'].isnull()] = df[df['Continent'].isnull()].fillna(cont_dict)

In [10]:
### Verifing the columns with empty values!!! ###
#empty = df.columns[df.isna().any()].tolist()
df.isnull().sum()

RHDI          0
HDI           0
LE            0
EYS           0
MYS           0
GNI           0
GDIV         22
GIIV         27
IHDI         37
ILE           6
IE           18
II           33
SSP           2
TP            0
TUP           0
MA            6
CHE           7
GEE          42
PPP           5
HB           24
VE           11
RPAE          0
WAFI         34
CDEP          0
CDE          51
FA            3
FAC           9
DMC           7
RLI           0
SLF          30
RDE          53
Continent     0
dtype: int64

In [11]:
### Gonna use this values above the fill the missing data with mean() per Continent ###
df_cols_mean = df.groupby(['Continent']).mean()
df_cols_mean

,RHDI,HDI,LE,EYS,MYS,GNI,GDIV,GIIV,IHDI,ILE,...,RPAE,WAFI,CDEP,CDE,FA,FAC,DMC,RLI,SLF,RDE
Continent,,,,,,,,,,,,,,,,,,,,,
Africa,151.622642,0.560736,64.240755,10.724123,5.591836,5609.589052,0.896937,0.531674,0.389478,25.854717,...,36.564247,33.304673,1.234537,0.178915,28.422215,-7.043666,5.895299,0.872425,27.622081,0.363091
Asia,89.937500,0.742437,74.474792,13.237173,8.882099,22541.333653,0.917750,0.342477,0.620278,11.900000,...,94.524573,53.024505,6.727974,0.291960,22.253228,8.089886,14.219249,0.836856,52.396528,0.793867
Europe,33.365854,0.879707,79.414146,16.171684,11.914609,41255.893870,0.984438,0.116359,0.803333,4.438462,...,100.000000,84.166024,6.574179,0.226727,34.029426,15.320599,15.197032,0.928915,84.277023,1.461787
North America,85.304348,0.755957,75.488261,13.517982,9.227406,18521.216191,0.977550,0.363167,0.595267,11.366667,...,93.356415,53.506631,4.941727,0.205860,38.573199,-2.001687,8.291296,0.775561,47.011620,0.560524
Oceania,101.083333,0.714083,72.471667,13.837356,9.585902,13068.632991,0.963424,0.338167,0.658000,13.470000,...,87.119760,99.267937,4.053550,0.264515,53.035459,3.849880,10.503613,0.741322,56.717800,1.090333
South America,84.833333,0.763167,75.090833,14.557230,9.259490,13994.396607,0.978882,0.393167,0.611750,12.658333,...,95.977090,53.963080,2.782684,0.191200,48.930135,3.788632,17.875299,0.834694,51.228125,0.409354

In [13]:
df.head()
#df[] = df.fillna(x)
#df.loc[[]]
#gdiv.loc[gdiv['Continent'] == 'Oceania'] = gdiv.loc[gdiv['Continent'] == 'Oceania'].fillna(gdiv_oceania)

,RHDI,HDI,LE,EYS,MYS,GNI,GDIV,GIIV,IHDI,ILE,...,WAFI,CDEP,CDE,FA,FAC,DMC,RLI,SLF,RDE,Continent
Country,,,,,,,,,,,,,,,,,,,,,
Norway,1,0.957,82.40,18.06615,12.897750,66494.25217,0.989939,0.045,0.899,3.0,...,100.000000,8.303974,0.10907,33.17786,-0.115284,21.82197,0.93923,84.2811,2.06985,Europe
Ireland,2,0.955,82.31,18.70529,12.666331,68370.58737,0.981024,0.093,0.885,3.4,...,95.307037,8.079187,0.11213,11.02773,63.376347,13.47527,0.91522,85.0470,1.14647,Europe
Switzerland,2,0.955,83.78,16.32844,13.380812,69393.52076,0.967513,0.025,0.889,3.5,...,98.856651,4.325016,0.07975,31.83015,9.314837,13.71868,0.97459,87.3141,3.37286,Europe
"Hong Kong, China (SAR)",4,0.949,84.86,16.92947,12.279960,62984.76553,0.972323,NaN,0.824,2.5,...,94.702423,5.852683,0.10847,NaN,NaN,NaN,0.83060,76.9800,0.86096,Asia
Iceland,4,0.949,82.99,19.08309,12.772787,54682.38057,0.968674,0.058,0.894,2.4,...,NaN,10.782476,0.13471,0.50374,213.664589,14.88115,0.86310,76.1659,2.02994,Europe

In [27]:
cont = ()
mean_cont = 0
for col in range(df.shape[1]):
    for lin in range(df.shape[0]):
        if df.iloc[lin,col] == np.nan:
            cont = df.iloc[lin][32]
            #mean_cont = df_cols_mean.iloc[cont,col]
            df.iloc[lin,col] = df.iloc[lin,col].fillna(30)
        else:
            pass

df.head()

,RHDI,HDI,LE,EYS,MYS,GNI,GDIV,GIIV,IHDI,ILE,...,WAFI,CDEP,CDE,FA,FAC,DMC,RLI,SLF,RDE,Continent
Country,,,,,,,,,,,,,,,,,,,,,
Norway,1,0.957,82.40,18.06615,12.897750,66494.25217,0.989939,0.045,0.899,3.0,...,100.000000,8.303974,0.10907,33.17786,-0.115284,21.82197,0.93923,84.2811,2.06985,Europe
Ireland,2,0.955,82.31,18.70529,12.666331,68370.58737,0.981024,0.093,0.885,3.4,...,95.307037,8.079187,0.11213,11.02773,63.376347,13.47527,0.91522,85.0470,1.14647,Europe
Switzerland,2,0.955,83.78,16.32844,13.380812,69393.52076,0.967513,0.025,0.889,3.5,...,98.856651,4.325016,0.07975,31.83015,9.314837,13.71868,0.97459,87.3141,3.37286,Europe
"Hong Kong, China (SAR)",4,0.949,84.86,16.92947,12.279960,62984.76553,0.972323,NaN,0.824,2.5,...,94.702423,5.852683,0.10847,NaN,NaN,NaN,0.83060,76.9800,0.86096,Asia
Iceland,4,0.949,82.99,19.08309,12.772787,54682.38057,0.968674,0.058,0.894,2.4,...,NaN,10.782476,0.13471,0.50374,213.664589,14.88115,0.86310,76.1659,2.02994,Europe

In [ ]:
#for col in range(df.shape[1]):
  #for lin in range(df.shape[0]):
    #if df.iloc[lin, col] == np.nan:
      #continente = df.loc['Continente'][lin]
      #continente = df.iloc[lin, 8]
      #media_continente = df.groupby(col, by = continente).mean()
      #df.iloc[lin, col] = media_continente
    #else:
      #df.iloc[lin, col] = df.iloc[lin, col]
        
#for col in range(df2.shape[1]):
  #for lin in range(df2.shape[0]):
    #if df2.iloc[lin, col] == np.nan:
      #continent = df2.loc['Continent'][lin] #df.iloc[lin, 32] #df.loc['Continent'][lin]
      #df2 = df.groupby([col])[continent].apply(lambda x: x.fillna(x.mean()))
      #continent_mean = df.groupby(by=continent, axis=1).mean()
      #df.iloc[lin, col] =  df.iloc[lin, col].fillna(value=continent_mean)
    #else:
        #pass
      #df.iloc[lin, col] = df.iloc[lin, col]
 #df.D = df.groupby([col])['Continent'].apply(lambda x: x.fillna(x.mean()))
#df[df['Continent'].isnull()] = df[df['Continent'].isnull()].fillna(cont_dict)

In [ ]:
for col in range(df.shape[1]):
    for lin in range(df.shape[0]):
        if df.iloc[lin,col] == np.nan:
            df.iloc[lin,col] = df.iloc[lin,col].fillna(20)